%p
  %strong Title:
  = @article.title

%p
  %strong Text:
  = @article.text


%h2 Comments
= render @article.comments

%h2 Add comment:
= render 'comments/form'

=link_to 'edit', edit_article_path(@article)
=link_to 'back', articles_path

